[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 60vh;
  max-height: 60vh;
}

.number-slide1 {
  background-image: url(https://i.ibb.co/CbQ0bv4/premium-photo-1664300974534-2c2aa07e4e3d-w-500-auto-format-fit-crop-q-60-ixlib-rb-4-0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.number-slide2 {
  background-image: url(https://i.ibb.co/C197T28/premium-photo-1694557829843-5f0eaf12f4bb-w-500-auto-format-fit-crop-q-60-ixlib-rb-4-0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.number-slide3 {
  background-image: url(https://i.ibb.co/j4yQYvp/photo-1581092580497-e0d23cbdf1dc-q-80-w-1470-auto-format-fit-crop-ixlib-rb-4-0.jpg
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.number-slide4 {
  background-image: url(https://i.ibb.co/BZsVrf0/premium-photo-1681074963670-2110c58f4c24-w-500-auto-format-fit-crop-q-60-ixlib-rb-4-0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url(https://i.ibb.co/2jmrYPX/premium-photo-1663090600305-05034e56639c-w-500-auto-format-fit-crop-q-60-ixlib-rb-4-0.jpg);
  background-attachment: fixed;
}

.bg_glossy {
  background: rgba(29, 234, 96, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(29, 234, 96, 0.19);
}
.active{
  background-color: white;
  padding: 10px;
  border-bottom-color: rgb(81, 221, 81);
  border-bottom-width: 5px;
  border-bottom-style: inherit;
  color: rgb(88, 236, 88);
  font-weight: 700;
}
.inactive{
  padding: 10px;
  font-weight: 600;
}


.container1 {
  perspective: 800px;
  width: 200px;
  height: 200px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.6;
}

.front {
  transform: rotateY(0deg) translateZ(100px);
  background-color: #ee4444;
}
.right {
  transform: rotateY(90deg) translateZ(100px);
  background-color: #ffcc00;
}

.back {
  transform: rotateY(180deg) translateZ(100px);
  background-color: #ff0055;
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: #8855ff;
}
.top {
  transform: rotateX(90deg) translateZ(100px);
  background-color: #0099ff;
}
.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: #22cc88;
}


